.pList {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.pListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 420px;
  height: 300px;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.pListTitles > h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.pListTitles > h2 {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

.recommendPlace {
  text-align: left;
  font-size: 30px;
  width: 100%;
  padding: 30px 0;
}

.pListTitles {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
