.searchItem {
  border: 1px solid lightgray;
  width: 832px;
  padding: 10px;
  border-radius: 5px;
  width: 1100.8px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .searchItem {
    width: 100%;
  }
}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
  width: 100;
}

.siCheck {
  font-size: 15px;
  font-family: 'KOTRA_GOTHIC';
}

.siTitle {
  font-size: 20px;
  font-family: 'KOTRA_GOTHIC';
  width: 4y00px;
  color: black;
}

.siP_ADDRESS {
  font-size: 12px;
  font-family: 'KOTRA_GOTHIC';
}

.siTaxiOp {
  font-size: 12px;
  font-family: 'KOTRA_GOTHIC';
  background-color: #febb02;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle {
  font-size: 12px;
  font-weight: bold;
}

.siROOM_TYPE {
  font-size: 12px;
  font-family: 'KOTRA_GOTHIC';
}

.siP_REFUND {
  font-size: 12px;
  color: gray;
  font-weight: bold;
  font-family: 'KOTRA_GOTHIC';
}

.siROOM_OPTION {
  font-size: 12px;
  color: gray;
  font-family: 'KOTRA_GOTHIC';
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siRanking {
  display: flex;
  justify-content: flex-end;
}

.siRanking > span {
  font-weight: 500;
}
.siRanking > button {
  background-color: #0058ab;
  color: white;
  padding: 5px;
  font-weight: bold;
  border: none;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice {
  font-size: 24px;
  font-family: 'KOTRA_GOTHIC';
}

.siTaxes {
  font-size: 12px;
  font-family: 'KOTRA_GOTHIC';
  color: gray;
}

.swal2-swal {
  width: 500px !important;
  max-width: calc(100vw - 40px) !important;
}

.siCheckButton {
  background-color: #0058ab;
  font-family: 'KOTRA_GOTHIC';
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.heart-icon.active {
  filter: invert(53%) sepia(100%) saturate(7500%) hue-rotate(330deg)
    brightness(104%) contrast(122%);
}

#copybtn{
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  justify-content: flex-end;
}