#dropdown-btn {
  margin-top: 5px;
  background-color: #0058ab;
  color: white;
  width: 200px;
  height: 45px;
  border: none;
}

#dropdownItem-btn {
  width: 200px;
}

#dropdown-btn:hover,
#dropdown-btn:active {
  height: 45px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

#mapbtn {
  background-color: transparent;
  border: 2px solid black;
  margin-top: 10px;
  color: black;
}

#mapbtn:hover {
  transform: scale(1.03);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  list-style-type: none;
  margin: 0 5px;
}

.pagination li a {
  color: #555;
  font-size: 14px;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.pagination li.active a,
.pagination li a:hover {
  background-color: #003580;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.container {
  display: flex;
  justify-content: center;
}

.pagination-break {
  margin: 0 5px;
}

.pagination ul {
  display: flex;
}

.pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-box {
  height: 50px;
  background-color: transparent;
  border: 2px solid #003580;
  display: flex;
  width: 816px;
  justify-content: center;
  align-items: center;
}
