.search-hotel {
  text-align: center;
}

#dropdown-btn {
  margin-top: 10px;
  background-color: #0058ab;
  color: white;
  width: 200px;
  border: none;
}

#dropdownItem-btn {
  width: 200px;
}

#dropdown-btn:hover,
#dropdown-btn:active {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

#mapbtn {
  background-color: transparent;
  border: 2px solid black;
  margin-top: 10px;
  color: black;
}

#mapbtn:hover{
  transform: scale(1.03);
  }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li.active a {
  color: black;
  border-radius: 4px;
  padding: 4px 8px;
}

.pagination-link {
  margin: 0 10px;
  text-decoration: none;
}

.pagination-break {
  margin: 0 5px;
}

.rounded-box {
  height: 50px;
  background-color: transparent;
  border: 1px solid lightgray;
  display: flex;
  width: 750px;
  justify-content: center;
  align-items: center;
}
