.payment-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-title {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300%;
}

.card-number {
  margin-right: 10%;
  width: 105%;
}

.expiration-date {
  margin-right: 20%;
  width: 70%;
}

.delete-btn {
  width: 30%;
  text-align: right;
}

.delete-btn button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #0095f6;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn button:hover {
  background-color: #0080f2;
}

@media screen and (max-width: 768px) {
  .card-info {
    width: 70%;
  }

  .card-number {
    margin-right: 5%;
    width: 50%;
  }

  .expiration-date {
    width: 50%;
  }

  .delete-btn {
    width: 30%;
  }
}
