.resHotelImage {
  width: 165px;
  height: 155px;
  margin-right: 20px;
}

.resDate {
  font-size: 0.875rem;
  color: #006ce3;
}

.hotelInfoFirst {
  flex: 0 0 100%;
  margin-left: 20px;
}

.hotelInfoDiv {
  display: flex;
  width: 78vh;
}
